.heading {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Gill Sans';
}

.heading_text {
    text-align: center;
    color: #0f2454;
    font-weight: bold;
    font-family: 'Gill Sans';
}

.subHeading {
    color: #2095AE;
    font-size: 16px;
    font-family: 'Gill Sans';
    text-align: center;
}

.uniqueText {
    color: #2095AE;
    font-weight: bold;
    font-family: 'Gill Sans';
}