.bannerText {
   font-size: 24px;
   color:white
  }
  
  /* .bannerText:hover {
    width: 300px;
  } */
  h1 {
    font-size: 2.3em;
    letter-spacing: -4px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-left: 16px;
    /* background: black; */
    padding: 24px;
}

.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}