.heading {
    color: #2095AE;
    /* letter-spacing: 10px; */
    font-weight: bold;
    font-size: 48px;
    font-family: 'Gill Sans';
    z-index: 1;
}

.subHeading {
    color: #0f2454;
    // letter-spacing: 10px;
    // font-weight: bold;
    font-size: 24px;
    font-family: 'Gill Sans';
}