.gradient-image:hover {

    background-image: linear-gradient(to right top, #2525a7, #222299, #1f1f8b, #1c1c7d, #191970);
    
    transition: 1s;
  
  }
  .gradient-image{
    border-radius: 5px;
  }