.heading {
    color: #0f2454;
    letter-spacing: 10;
    font-size: 52px;
    font-weight: bold;
    font-family: '__Montserrat_Alternates_78917f';
    text-align: center;
}

.subText{
    color:#0f2454;
    font-size: 16px;
    font-family: '__Montserrat_Alternates_78917f';
    padding:24px;
    text-align: center;
}

.subHeading{
    color:#0f2454;
    font-size: 32px;
    font-family: '__Montserrat_Alternates_78917f';
    padding:24px;
    letter-spacing: 10px;
    /* text-align: center; */
    font-weight: bold;
}

.uniqueText {
    color: #2095AE;
    font-weight: "bold";
    font-family: '__Montserrat_Alternates_78917f';
}