.heading {
    color: #0f2454;
    font-size: 48px;
    font-weight: bold;
    font-family: '__Montserrat_Alternates_78917f';
}
.uniqueText {
    color: #2095AE;
    font-weight: bold;
    font-family: '__Montserrat_Alternates_78917f';
}
.heading_text {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: '__Montserrat_Alternates_78917f';
    letter-spacing: 20px ;
    font-size: 48px;
}
.subheading_text{
    text-align: center;
    color: #fff;
    font-family: '__Montserrat_Alternates_78917f';
    letter-spacing: 2px ;
    font-size: 16px;
}

.viewPackageText{
    text-align: center;
    color: #fff;
    font-family: '__Montserrat_Alternates_78917f';
    letter-spacing: 2px ;
    font-size: 16px;
}