/* 

.gd-carousel {
    position:absolute;
    top:0;
    .react-multiple-carousel__arrow {
        position:absolute;
    }

    .react-multiple-carousel__arrow--left {
        /* left: calc(-1% + 1px) */
    /* } */

    /* .react-multiple-carousel__arrow--right {
        /* right: calc(-3% + 1px) */
    /* }
} * */