
.accordianHeading {
    color: #0f2454;
    font-size: 16;
    font-weight: bold;
    font-family: 'Gill Sans';
}
.accordian_value{
    color: #676977;
    font-size: 16px;
    font-weight: 300px;
    font-family: 'Gill Sans';
}